#container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: rgb(1, 23, 64);

}
label , input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
input{
    text-align: center;
    border-radius: 10px;
    border: black solid 1px;
}
#btn {
    position: absolute;
    right: 18rem;
    top: 13rem;
    background-color: #5783cc;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border:black solid 1px ;
}
#btn:hover{
    background-color: rgb(76, 190, 237);
}
#btn:active{
background-color: rgba(87, 131, 204, 0.49);
}
#images-result img{
    width: 100px;
    height: 100px;
}